<!-- View to show all posts in database -->
<h3>LIST OF ALL POST</h3>

<%= render  partial: '/shared/posts/list_posts', locals: {posts:@posts} %>
<!-- #post_modal -->
<%= button_to "New Post",'', :method => :get, :remote => true, "data-target" => "#myModal", "data-toggle" => "modal", :type => "button", class: "btn btn-primary" %>
<!-- Modal -->