.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4#myModalLabel.modal-title Create Post
    .modal-body
      #modal_body
        = render 'form_post'
        = link_to 'Back', posts_path, :class => 'btn btn-primary'