<!-- View to show all posts in database -->
<h3>LIST OF ALL POST</h3>
  <table>
    <tbody id="list_post">
      <%= render  partial: 'shared/posts/list_posts', locals:  {posts:@posts} %>
    </tbody>
</table>
</div>
<!-- #post_modal -->
<%= button_to "New Post", new_post_path, :method => :get, :remote => true, "data-target" => "#myModal", "data-toggle" => "modal", :type => "button", class: "btn btn-primary" %>
<!-- Modal -->
