<% @users.each do |user| %>
        <tr>
        <td><%= user.firt_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.avatar %></td>
        </tr>
<% end %>