<% @posts.each do |post| %>
        <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= raw(post.content)%></td>
        <td><%= post.thumbnail %></td>
        </tr>
<% end %>